body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

.login-container {
    max-width: 600px;
    margin: 50px auto;
}

header {
    background: #c00;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    vertical-align: middle;
}

.logo h1 {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-logo {
    width: 100px;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #b71c1c;
    border: none;
    color: white;
    border-radius: 5px;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
}